[2015-11-22 22:59] weinand opened #1 "Debugger is not working"
_From @wtang3 on November 20, 2015 3:16_

Getting error when running app in debug mode.

When hitting play on debugger, debugger options appear for split second and exception occurs.

error while processing request '{_request}' (exception: {_exception})

![screen shot 2015-11-19 at 10 09 28 pm](https://cloud.githubusercontent.com/assets/3191584/11291059/57dd9988-8f0a-11e5-9a1b-1b5804581e54.png)

O

[2015-11-22 23:08] weinand opened #2 "Error when trying to debug (f# on mono on OS X)"
_From @mmc41 on November 20, 2015 18:38_

When I try to debug a small hello-world like fsharp 4.0 program like the attached, I get an error "error while processing request '{_request}' (exception: {_exception})" in Visual Code 0.10.1 on OS X 10.10.5 on mono 4.2.1. The associated launch.json file is as follows:
{
	"version": "0.2.0",
	"configurations": [
		{
			"name": "Launch",
			"type": "mono",

[2015-11-22 23:08] weinand commented on #2
_From @Oipo on November 21, 2015 7:59_

Same for me, VSCode 0.10.1, linux, using mono C#.

[2015-11-22 23:08] weinand commented on #2
_From @borgdylan on November 22, 2015 12:50_

I can repro using a custom .NET language on Linux x86 using v. 0.10.1 as well. This used to work for plain .NET console apps in past versions.

[2015-11-24 17:01] weinand commented on #2
This is a duplicate of #1.

[2015-11-24 17:01] #2 closed

[2015-11-24 17:03] weinand commented on #1
The problem with the unreadable error message has been fixed through PR #4

[2015-11-28 16:55] wtang3 commented on #1
Thank you very much weinand!

[2015-11-30 07:19] amansingh36 commented on #2
@weinand, I'm also getting the same error. How we can solve this?

[2015-11-30 07:25] amansingh36 commented on #1
@weinand, I'm also getting the same error. How we can solve this?

[2015-11-30 07:41] amansingh36 commented on #2
@mbcrump, I'm getting the same error. How we can solve this?

[2015-11-30 07:41] amansingh36 commented on #1
@mbcrump, I'm getting the same error. How we can solve this?

[2015-11-30 11:24] weinand commented on #1
@amansingh36 I have created a new [release](https://github.com/Microsoft/vscode-mono-debug/releases/tag/0.10.2) of the mono-debug adapter that should fix the problem with the unreadable error message. Please give it a try and let me know what the real error is.
A 'how-to install vsix extensions' can be found [here](https://code.visualstudio.com/docs/extensions/install-extension).

[2015-11-30 12:48] amansingh36 commented on #1
@weinand, Thanks for the reply. I've installed your extension via below method still receiving error.

INSTALL METHOD:
"You can also install a .vsix by opening the file from within VS Code. Run File | Open File... or unassigned and select the extension .vsix."

ERROR:
error while processing request '{_request}' (exception: {_exception})

Please help. Thanks

[2015-11-30 13:02] amansingh36 commented on #1
@weinand, I'm trying new method which will load the extension every time when Visual Studio Code will run. But the problem is I don't know where the ".vscode/extensions" folder is located on Mac.

NEW METHOD TRYING:
If you want to load your extension or customization each time VS Code runs, copy your project to a new folder under .vscode/extensions.
    $HOME/.vscode/extensions/myextension

[2015-11-30 13:15] amansingh36 commented on #1
@weinand, tried both ways to install but didn't helped. I also found one error in OUTPUT window:

[ERROR:OmniSharp.Dnx.DnxPaths] The specified runtime path 'default' does not exist. Searched locations

[2015-11-30 15:11] amansingh36 commented on #1
@weinand, Everything sorted except ERROR:
error while processing request '{_request}' (exception: {_exception})

[2015-11-30 15:32] weinand commented on #1
my pre-release version 0.10.2 of mono-debug had the wrong publisher, so you are still seeing the original mono-debug. Could you please try it again with this [release 0.10.3](https://github.com/Microsoft/vscode-mono-debug/releases/tag/0.10.3).

First install the previous mono-debug extension by
* pressing F1
* type "ext"
* select "Show Installed Extensions"
* pick "mono-debug 0.10.2"
* click the "

[2015-11-30 15:38] amansingh36 commented on #1
Where is .vsix file? Because I don't know how to install via source.

[2015-11-30 15:40] weinand commented on #1
Sorry, I forgot to attach it...

[2015-11-30 15:43] amansingh36 commented on #1
@weinand, Thanks for the support. But still receiving error:
"error while processing request 'launch' (exception: The best overloaded method match for `OpenDebug.Terminal.LaunchInTerminal(string, string, string[], string, string[], System.Collections.Generic.Dictionary<string,string>)' has some invalid arguments)"

[2015-11-30 15:44] amansingh36 commented on #1
@weinand, Thanks for the support. But now receiving another error:
"error while processing request 'launch' (exception: The best overloaded method match for `OpenDebug.Terminal.LaunchInTerminal(string, string, string[], string, string[], System.Collections.Generic.Dictionary<string,string>)' has some invalid arguments)"

[2015-11-30 15:46] weinand commented on #1
yes, as I said above, I first had to fix the problem with the unreadable error message. Now, that we can see the real error message, I will reopen this bug and work on the fix. Thanks for helping me with this.

[2015-11-30 15:48] weinand commented on #1
@amansingh36 what version of mono do you have installed on your OS X?

[2015-11-30 15:51] amansingh36 commented on #1
The latest Mono release: 4.2 Stable (4.2.1.102)

[2015-11-30 15:52] amansingh36 commented on #1
The latest Mono release: 4.2 Stable (4.2.1.102)

Mono for Mac OS X Universal (32 & 64 bit) preview
This package contains both 32 and 64-bit Mono for OS X.

[2015-11-30 15:55] weinand commented on #1
@amansingh36 I think I know what the problem is. Could you please remove the environment variables (the "env": [...])  in your launch config and see whether that makes a difference?

[2015-11-30 16:00] amansingh36 commented on #1
@weinand, If I remove "env": { }" still receiving error:

error while processing request 'launch' (exception: The best overloaded method match for `OpenDebug.Terminal.LaunchInTerminal(string, string, string[], string, string[], System.Collections.Generic.Dictionary<string,string>)' has some invalid arguments)

[2015-11-30 16:04] #1 closed

[2015-11-30 16:15] weinand commented on #1
@amansingh36 Could you please try [this release](https://github.com/Microsoft/vscode-mono-debug/releases/tag/0.10.4).

[2015-11-30 16:34] amansingh36 commented on #1
@weinand Everything working perfectly fine now. Thanks

I've an idea shall we write an article together on Visual Studio Code for Setup to Use (End to End). Will you help?

[2015-11-30 17:06] amansingh36 commented on #1
@weinand, Everything working perfectly fine now. Thanks for your help.

I've an idea shall we write an article together on Visual Studio Code for Setup to Use (End to End). Will you help?

[2015-11-30 17:49] amansingh36 commented on #1
@weinand, Everything worked perfectly fine with your latest release - 0.10.4. Thanks for your help and prompt replies.

I've a personal request for you, will you be interested to spare some time from your busy schedule and become an author on Visual Studio Code, Visual Studio, etc. at Asian Fox Developments, Blog (Worldwide) www.asianfoxdevelopments.com.

I will be obliged. Thanks

[2015-12-01 13:40] weinand opened #7 ""Catch exceptions" checkboxes seem to do nothing"
In C#, all exceptions seem to be caught by default. When checking the "All exceptions" checkbox, caught exceptions are not paused on.

I draw the conclusion that these checkboxes do nothing when debugging C#.

We need a mechanism for interrogating the capabilities of a debug adapter. So for node the adapter would return "All exceptions" and "Uncaught exceptions". For mono it would nothing and the

[2015-12-07 20:52] thibault1907 commented on #2
Me too!

[2015-12-07 20:58] weinand commented on #2
@thibault1907 most likely this is a problem with passing environment variables to mono-debug. Please remove the "env": {}  from your launch config and try again. This bug will be fixed in the December release.

[2015-12-07 21:07] weinand commented on #2
@thibault1907 if this hypothesis is your problem, then you can get a newer pre-release of mono-debug. Please see the mist recent comment on issue #1

[2015-12-16 17:20] inosik opened #8 "Working directory isn't used"
Probably because of [this](https://github.com/Microsoft/vscode-mono-debug/blob/090c7d93a2d5a64cc6a57abb7338b308025d3949/src/MonoDebugSession.cs#L132)?

[2016-02-19 11:46] #7 closed

[2016-02-19 11:55] weinand opened #9 "args array passed as a single argument when launching a mono program"
_From @alfonsogarciacaro on February 9, 2016 20:22_

Hi there! I'm experiencing an issue when debugging mono with the new version (0.10.8). This my launch configuration:
[code]
Before, VS Code would pass two arguments to the program, but now it passes a single one with both strings joined without spaces ("--projFile../../temp/Test.fsx").

Please tell me if you need more info and thanks for your ha

[2016-02-19 12:12] weinand commented on #9
@alfonsogarciacaro I can reproduce for 0.10.8. This is a problem with the new internal console. As a workaround, you can enable the `externalConsole` and the problem will no longer occur.

This will be fixed in the February release.

[2016-02-19 12:16] #9 closed

[2016-02-19 12:47] alfonsogarciacaro commented on #9
Perfect, thanks a lot for the tip!

[2016-02-22 12:06] #8 closed

[2016-03-16 21:33] borgdylan opened #10 "Debugging for custom languages broken"
I was debugging my custom .NET language code using this extension (added the extension for the files in the MonoDebugSession white list). In the past this used to work but after updating to the latest insiders build this is no ;longer the case.

[2016-03-18 13:14] weinand commented on #10
@borgdylan could you please be more specific: what exactly does not work for you? Setting breakpoints? Launching? On which platform? Which version of mono? Which version of VS Code?

[2016-03-18 16:34] borgdylan commented on #10
To set breakpoints I had to hack the configuration file to include the language. What does not work is stopping on the breakpoints I set. I am on Linux using the latest insiders build of Code on the latest mono from github.

[2016-03-18 16:37] borgdylan commented on #10
To be more clear I am using Code v.  0.10.12-insider. When I will be using the PC in question I will post the commit SHA of mono and the extension version as well.

[2016-03-22 21:28] borgdylan commented on #10
Full version info:
Code: 0.10.12-insider
vscode-mono-debug: 0.10.18
mono: f6de55f55857e60684ca1b85445dfb80309b0d28

[2016-03-23 14:01] weinand commented on #10
@borgdylan could you please provide reproducible steps for your problem? A test project on github would be ideal.

[2016-03-23 14:08] borgdylan commented on #10
I am using custom compilers currently which does not make it easy to reproduce. I will try the mono command lien debugger client and see if the issue arises from the mono debugger library being out of date in the code extension.

[2016-03-23 14:13] borgdylan commented on #10
The sdb dependency on the extension is extremely out of date. It uses the May 2015 variant while the latest commits are dated January 2016.

[2016-03-23 14:17] borgdylan commented on #10
A similar bug was fixed in the mono debugger libraries: https://github.com/mono/debugger-libs/commit/607c1dae16527b13377344b1f2ad2a221848e9d7

[2016-03-23 18:30] borgdylan commented on #10
Fixed by renaming monoDebug.exe to mono-debug.exe

[2016-04-16 07:52] RicardoCampos opened #11 "make: vsce: No such file or directory on OSX"
Running make on OSX with the latest version builds ok, but the extension seems to fail.

[code]

[2016-04-16 11:01] #10 closed

[2016-05-11 06:17] mattzink opened #12 "Use the Mono debugger library instead of SDB to enable Windows support"
It would be extremely useful to remote debug Mono applications from Windows. SDB is just a CLI wrapper for the mono debugger libraries (https://github.com/mono/debugger-libs). While SDB requires a POSIX environment to execute, the libraries do not. Please change this extension to depend upon the debugger libraries to enable Windows support.

[2016-05-25 07:15] amansingh36 commented on #1
@weinand, I've a personal request for you, will you be interested to spare some time from your busy schedule and become an author on Visual Studio Code, Visual Studio, etc. at Asian Fox Developments, Blog (Worldwide) www.asianfoxdevelopments.com.

I will be obliged. Thanks

Aman Singh
Senior .NET Dev.
Technical Department
Asian Fox Developments

[2016-08-16 13:27] TheSHEEEP commented on #12
Indeed, not being able to use Mono with debugging on Windows is kinda weird.

[2016-09-06 07:25] borgdylan opened #13 "Question: Is this extension still being worked on?"
Is this extension being brought up to date with the newer VS Code releases?

[2016-09-23 11:07] weinand commented on #13
@borgdylan I'll try my best to keep this extension in sync with the latest VS Code. But since mono-debug delegates most functionality to the underlying SDB command line debugger (which does not seem to be actively developed any more), I'm limited in what I can fix and what new features I can implement (but I'm accepting pull requests ;-)

(This extension was basically a 2 day hackathon 'proof of c

[2016-09-23 11:07] #13 closed

[2016-09-23 11:08] weinand commented on #12
I'm accepting pull requests!

[2016-09-23 14:07] weinand commented on #11
I've just updated mono-debug to the latest and verified that it builds fine on OS X.

[2016-09-23 14:07] #11 closed

[2016-09-24 08:51] borgdylan commented on #13
I hope that someone that is experienced with mono, will come up with a variant that uses Mono.Debugger.Soft directly and take the pressure off of this extension then.

[2016-11-01 11:06] t-h-e commented on #12
I don't think the extension relies on SDB in a way that it requires to execute SDB. Therefore it does not require a POSIX environment.

If you adapt Initialize (https://github.com/t-h-e/vscode-mono-debug/commit/24da939de7aeb3fc58e2763da2e62314c6684d53), you can already use this extension on Windows. Although I had cygwin installed to build everything.

The project does rely on some of the code fro

[2016-12-08 17:26] DavidKarlas opened #16 "Use Microsoft.VisualStudio.Shared.VsCodeDebugProtocol for protocol"
This NuGet is protocol library generated from protocol.json file.

This issue is just to raise awareness and no need for immediate switching.

[2016-12-13 11:09] Jestar342 opened #17 "You logo is reminiscent of a certain infamous shock site on the tld .cx"
It may be pertinent to revisit the logo design :)

[2016-12-15 01:10] webxl opened #18 "Support for ASP.NET (XSP)"
Hi, I had trouble debugging an ASP.NET 4.5 web app earlier. Normally Xamarin or VS4Mac would suffice, but I need two debuggers going at once. The VSCode debugger was attaching, and I saw threads in the lower left, but it never paused at my breakpoints. I finally realized that I had disabled debug symbols and that was the reason why the breakpoints weren't being hit. Silly mistake, but I feel more

[2016-12-22 06:25] kiwipxl opened #19 "Same variable name in different scopes"
Hey, I'm not sure if this is the right place to post this issue. It may be an issue with mono itself. Please close this if it is unrelated to this project.

You can reproduce the issue like so:
`public enum TestEnum {
	A,
	B,
	C,
};

{
	TestEnum test = TestEnum.B;
	Debug.LogWarning(test);
}
{
	TestEnum test = TestEnum.C;
	Debug.LogWarning(test);
}`

When putting a breakpoint on the second test and

[2016-12-22 07:18] DavidKarlas commented on #19
Fix for this will need newer version of Mono 4.8 or newer and debugger-libs that include https://github.com/mono/debugger-libs/commit/f6732039675317f6b3629f2a778b300620753594 notice that this commit has regression and you should bump to https://github.com/mono/debugger-libs/commit/21de57b0b4a426047fa58f03df0dbada8c43813b.

[2017-02-03 16:32] bbugh opened #20 "There is no changelog for this project"
VSCode tells me that this project has updated to version 0.13.0. However, there's no changelog, no reference to this on the page, no new release in Github's release page, and no news anywhere else in the readme. Please consider adding a changelog so that we know what happens in these updates in case there are issues. Thanks!

![image](https://cloud.githubusercontent.com/assets/438465/22599319/1506

[2017-02-05 02:08] buonan opened #21 "Breakpoints pause the debugger but cannot step through code VS Code 1.9 and Mono 4.8"
Ubuntu 16.04
I upgraded to VS Code 1.9 and now the breakpoints pause in the debugger but I cannot step through the code.

[2017-02-24 17:39] #20 closed

[2017-02-24 18:01] bbugh commented on #20
❤️

[2017-02-27 12:16] #12 closed

[2017-03-01 03:34] tengxianbing commented on #21
I seem meet the same issue. I use VS Code 1.9.1, mono 4.8 and Mono Debug 0.15.3. I build a C# project. It should be work fine, but it seems can't Step Into(F11) when the program running into a event callback. (Actually, the project is c++ project, I use swig to convert to c# api, then I write a c# demo to debug.)

[2017-03-20 19:16] borgdylan commented on #21
The same happens with Xamarin Android projects and normal desktop projects when it comes to debugging threads.

[2017-03-20 20:12] borgdylan commented on #21
@weinand I tried rebuilding the extension with the latest nuget packages for debugger-libs. The bug is still present.

[2017-03-24 06:01] vrnithinkumar opened #23 "Breakpoints are not hitting while debugging F# console application in VSCode using Mono Debug extension"
While trying to debug a f# console application the break points are not hitting, its just launching the application in VSCode debug mode and finishing the execution.

VS Code : 1.10.2
Mono Debug : 0.15.3

launch.json
[code]
DEBUG CONSOLE Output:
`mono --debug --debugger-agent=transport=dt_socket,server=y,address=127.0.0.1:54579 C:/FSharp/test/TestFharp/bin/Debug/TestFharp.exe "Test Arg"`

- Why is

[2017-03-25 21:38] weinand commented on #16
@DavidKarlas
Hi David, I've just started to use the nuget package in mono-debug. Do you have a small example that shows a minimal debug adapter (e.g. a "mock-debug for C#"). Thanks a lot!

[2017-03-25 21:54] DavidKarlas commented on #16
@andrewcrawley do you have some example of adapter?

[2017-03-27 20:34] andrewcrawley commented on #16
We haven't published any samples.  The short version is:
1. Derive a class from `DebugAdapterBase`
2. Call `InitializeProtocolClient` with the streams to use
3. Override the virtual methods for the requests you want to handle.
4. Call `Run` on your derived class.

You can also use the DebugProtocolClient class directly - the `RequestReceived` event would be the most important one for a debug adapt

[2017-03-27 20:36] weinand commented on #16
@andrewcrawley great, that is helpful, thanks a lot!

[2017-03-30 20:01] weinand commented on #17
Thanks for letting us know.

[2017-03-30 20:01] #17 closed

[2017-04-03 19:30] borgdylan commented on #21
Debugging apps xamarin apps with this is getting worse. This extension better get some love before it becomes useless. Also why are jetbrains building the packages and with what patches?

[2017-04-04 09:29] weinand commented on #16
@andrewcrawley @DavidKarlas @gregg-miskelly

I did a first path of adopting the nuget package in mono-debug. I could remove a ton of obsolete code (which is great) and all of mono-debug's functionality is already working (see https://github.com/Microsoft/vscode-mono-debug/tree/aweinand/dap_nuget)

Two things I noticed:

Since the request handlers are expected to return the request response, it is

[2017-04-04 19:55] andrewcrawley commented on #16
@weinand - The behavior of the library should be that any calls to `SendEvent` from a request handler result in the event being queued and sent after the response (except in the case of the `DisconnectRequest`, which sends all events immediately).  I figured it was better to have the library enforce proper ordering of events and responses rather than requiring adapter authors to do it.

At the mom

[2017-04-04 21:03] weinand commented on #16
@andrewcrawley great to hear that the client library takes care of the ordering problem.
My JavaScript-based client library used the same approach initially, but I changed this later because I wanted to simplify my implementation and make the code ordering match the event/response ordering. But this is just my personal preference. Your approach makes perfect sense and is probably less error prone.

[2017-04-06 09:37] weinand opened #24 "A issue of using Mono Debug to debug a example with gui."
_From @tengxianbing on March 1, 2017 12:32_

- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:44:55.542Z)
- OS Version: Linux x64 3.19.0-80-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.1|
|csharp|ms-vscode|1.7.0|
|mono-debug|ms-vscode|0.15.3|

---

Steps to Reproduce:

1. Use mono-debug to debug a c# example with gui,

[2017-04-06 09:37] weinand commented on #24
@tengxianbing how does your launch configuration look like?

[2017-04-06 13:04] weinand opened #25 "Unexpected token E. Stopping the debug adapter"
_From @thomasgarai on May 29, 2016 0:36_

- VSCode Version: 1.1.1
  ====================>
  Commit def9e32467ad6e4f48787d38caf190acbfee5880
  Date 2016-05-13T13:38:00.094Z
  Shell 0.37.6
  Renderer 49.0.2623.75
  Node 5.10.0
- OS Version: Linux 3.16.0-72-generic [ubuntu 14.0.4 - trusty tahr]
  =============================>
# Steps to Reproduce:
1. prerequisites:
   - install monocomplete
   - ins

[2017-04-06 13:04] weinand commented on #25
_From @ShadowIce on September 12, 2016 8:58_

I get the same error when I try to debug a C++ program on Windows using cppvsdbg, except that it's "Unexpected token C" and it's shortly after starting the program. I have a breakpoint set but it's not reached during that time. If I disable the breakpoint everything works.

[2017-04-06 13:04] weinand commented on #25
_From @jacereda on September 30, 2016 9:55_

I deleted all breakpoints and still get the "Unexpected token C" error.

[2017-04-10 20:59] andrewcrawley commented on #16
FYI, the code you have now for the error handling will crash - ErrorResponse can't be cast to any other response type.

[2017-04-11 22:24] AutonomicCoder commented on #21
@weinand We're having the same problem here.

I can set a breakpoint at the top of the console app as well as step in and over,

![screen shot 2017-04-11 at 6 18 21 pm](https://cloud.githubusercontent.com/assets/18603816/24933234/46d08a1e-1ee3-11e7-8231-a63fae8ec0e7.png)

![screen shot 2017-04-11 at 6 19 46 pm](https://cloud.githubusercontent.com/assets/18603816/24933281/8a50c89e-1ee3-11e7-9ccd-e0

[2017-04-12 15:33] itdoster opened #26 "Debug in many projects"
How i can Debug in many projects? I have self-hosted console application and WebAPI library.So i can debug only in console application, breack point executed in WebAPI, but show nothing

[2017-04-12 16:39] 1iveowl opened #27 "Remote debugging"
I'm trying to debug remotely with VS Code running on a PC and the code running on a Raspberry Pi.

I got it to work, but in a strange way.

I'm using VS Code 10.11.1 and on the Raspberry Pi I have mono v4.8.1 installed

The RPI has ip-addr: 192.168.0.7.

Here is what I do:

1) On the rpi: `mcs -debug program.cs`
2) On the rpi run: `mono --debug --debugger-agent=transport=dt_socket,server=y,address

[2017-04-12 17:56] borgdylan commented on #21
@AutonomicCoder did you reproduce the issue on the latest insiders build? If no I will try to test again to see if it is still present.

@weinand Did you have any chance to see what is going wrong when debugging threads? Shoudl we brign in some dev from xamarin in to the issue. I am not understanding why this is happening.

[2017-04-12 18:32] AutonomicCoder commented on #21
@borgdylan My original test was with 1.11.1.

I tested again and was able to reproduce this on

[code]

If you're looking to get someone from xamarin involved perhaps my friend @directhex can assist with finding the right guy.

[2017-04-12 18:43] weinand commented on #21
@AutonomicCoder Sorry, but at the moment I do not have any cycles to look into the open issues. I created mono-debug on a 2 day hackathon and try to maintain it in my sparetime since then. My real focus is the VS Code debugger architecture (and node-debug).

Since mono-debug is OSS, feel free to submit PRs.

[2017-04-12 21:15] AutonomicCoder commented on #21
@borgdylan, @weinand ... I've got this fixed on my dev machine. It has to do with the `stackTrace` response when there's no code in context ( inside `System.Reflection.MonoMethod.Invoke` for example ).

Gotta run so PR to follow tonight or early tomorrow EDT.

[2017-04-12 21:21] weinand commented on #21
@AutonomicCoder Great to hear! I hope to find some time on the long (Easter) weekend to try your fix and release a new version of mono-debug.

[2017-04-17 16:05] weinand commented on #21
@AutonomicCoder I've published mono-debug v0.15.5 with your fix (PR https://github.com/Microsoft/vscode-mono-debug/pull/28).
Thanks!

[2017-04-17 16:05] #21 closed

[2017-04-17 16:09] weinand commented on #21
(I'm sitting in a train and my connection is a bit flaky...)

[2017-04-18 08:11] weinand opened #29 "Debugging with mono and building with xbuild breaks debugging!"
_From @chncy on April 15, 2017 16:56_

- VSCode Version: 1.11.2
- OS Version: Debian 8 jessie 64-bit

Steps to Reproduce:

1. Use mono in launch.json and xbuild for building
2. Try to debug program: Code execution pauses at breakpoint but i cant see variables, watch them or even see where the code is currently paused at.

launch.json:
`{
    "version": "0.2.0",
    "configurations": [
        {

[2017-04-18 08:12] weinand commented on #29
@chncy What version of mono-deug are you using?

[2017-04-18 11:12] chncy commented on #29
@weinand I am using the latest update, i updated it from vscode directly

[2017-05-06 18:58] theel0ja opened #30 "Linux isn't same as Debian/Ubuntu"
In [README.md#installing-mono](https://github.com/Microsoft/vscode-mono-debug/blob/master/README.md#installing-mono), "Linux" installation guides is using `apt-get`, while it's only Debian's and Ubuntu's package manager, not all Linux distros have apt.

[2017-05-16 04:13] adamhartford commented on #18
I forked the project and added the ability launch and debug with XSP. The commit is here if it's useful for anyone:

https://github.com/adamhartford/vscode-mono-debug/commit/8d46a5fac1a3cb0901f161c2dd82b0c23b4feb8c

One thing I haven't figured out: When XSP is running and you change a cshtml razor view file, you won't see the change until you start/stop the server. However, if you run VS Code as r

[2017-05-16 20:47] zunder opened #31 "Not stopping at breakpoints in Mono 5"
It looks like attached mono-debug is not stopping at breakpoints while using mono 5.0.0.100 - Stable release (10 May 2017).

[2017-05-19 12:14] AlexeiScherbakov opened #32 "Same thing, but for Visual Studio?"
It will be great if _big_ Visual Studio support this feature. Today only Xamarin Studio have it as 'hidden' feaure which is activated by "MONODEVELOP_SDB_TEST" environment variable. (http://codinggorilla.domemtech.com/?p=1490)

[2017-05-19 18:58] TOTBWF commented on #31
To any others facing this issue, the move from xbuild to msbuild in mono 5 changed the way you need to generate debug symbols. You need to specify debugtype to be full, either by using `msbuild /p:DebugType=full` or by adding
[code]
to your project files.

[2017-05-20 05:05] #31 closed

[2017-05-29 15:51] weinand commented on #30
Feel free to provide a pull request to fix this.

[2017-05-29 15:53] weinand commented on #32
This extension is for Visual Studio Code. So I cannot do much about Visual Studio...

[2017-05-29 15:53] #32 closed

[2017-06-01 14:31] VysotskiVadim opened #36 "Replace debuger-libs binaries by source code"
It's few reasons to replace debugger-libs binaries by source code:

1. debugger-libs classes like SoftDebuggerSession always fail silently, i.e. it just won't work without any exception and logs, so it really hard to understand what is wrong without debugging source code of debuger-libs.
2. debugger-libs isn't well documented, it doesn't have some kind of tutorials, so I believe that reading sourc

[2017-06-15 13:32] weinand commented on #36
@VysotskiVadim why do you think that the owner of Mono.Debugger.Soft, Mono.Debugging and Mono.Debugging.Soft packages is Jetbrains?

[2017-06-15 13:36] VysotskiVadim commented on #36
![nuget gallery mono debugger soft 1 0 20170212 42 2017-06-15 16-35-07](https://user-images.githubusercontent.com/6190346/27183843-c68f6562-51e8-11e7-8c67-f1f6b3f4694e.png)

[2017-06-15 13:39] VysotskiVadim commented on #36
Please, see pull request https://github.com/Microsoft/vscode-mono-debug/pull/37

[2017-06-15 14:01] weinand commented on #23
@vrnithinkumar your launch.json contains two configurations: one for launching the target (name: "Launch"), one for attaching to an already launched target (name: "Attach"). They are independent from each other.
From the debug console output I see that you are using the "Launch" launch configuration. In this launch configuration no "port" is specified and mono-debug will use a random port (54579 i

[2017-06-16 15:44] borgdylan commented on #36
I had raised this issue in the past. The maintainers of the actual source code should have been consulted by Jetbrains before their code was packaged and published under an owner that is not them. Also, there is no indication of whether Jetbrains applied any patches on the vanilla source code.

[2017-09-26 22:46] DanOlivier commented on #29
I have this too, kind of. Running Ubuntu 17.04.
Everything works (i.e. breakpoints are hit and call stack looks accurate), except that not all variables are available/visible, but I don't yet see the pattern.

VSCode Version:
[code]
OS, mono, xbuild:
[code]

These are some of the dependencies I'm installing:
- mono-xbuild
- mono-dmcs
- libmono-microsoft-build-tasks-v4.0-4.0-cil
- libmono-system-da

[2017-10-23 19:37] CodeSurfing145 commented on #23
@weinand Maybe I have a similar issue.

I currently have this, it starts my app and it shows in the debug panel that threads are running but breakpoints don't work
[code]

![image](https://user-images.githubusercontent.com/6624832/31909407-4f6277c8-b83a-11e7-9a7b-a5cd4faf71d0.png)

[2017-10-23 19:41] CodeSurfing145 commented on #23
And yes, in my case I am compiling my code before I run and it might also be worth noting that my code is C# not F#

[2017-11-07 16:34] kghandi opened #41 "'All Exceptions' and 'Uncaught Exceptions' options disappear (C# - Mac)"
Using VS Code and vscode-mono-debug on a macOS 10.12 for a C# project. When the project is started, the debug panel briefly lists 'All Exceptions' and 'Uncaught Exceptions' options. But these disappear moments later when the debugger attaches to the xsp process.

<img width="416" alt="screen shot 2017-11-07 at 11 29 41 am" src="https://user-images.githubusercontent.com/6336722/32504981-12069014-c3

[2017-11-20 09:50] #25 closed

[2017-11-20 09:51] weinand commented on #26
You can run multiple debug sessions at the same time.

[2017-11-20 09:51] #26 closed

[2017-11-20 09:55] weinand commented on #41
This works as designed: mono-debug has no exception filter options.

[2017-11-20 09:55] #41 closed

[2018-01-07 23:02] auchenberg opened #42 "Debugging is broken"
_From @borgdylan on January 6, 2018 17:44_

- VSCode Version: 1.20 insiders
- OS Version: Ubuntu 17.10 + Linux 4.14.12

Steps to Reproduce:

1. Try to debug a project that used to debug beforehand
2. Notice that breakpoints set are only listed in the viewlets, the editor does not show red circles in the gutter
3. Notice that breakpoints no longer hit

Does this issue occur when all extensions are

[2018-01-07 23:02] auchenberg commented on #42
_From @borgdylan on January 6, 2018 17:53_

This was tested using the vscode-mono-debug extension. Used to work on the holiday themed builds of code-insiders.

[2018-01-08 09:42] weinand commented on #42
This problem is independent from the mono debugger: I can reproduce this with JavaScript debugging too. There seems to be an issue with decorations on linux.

[2018-01-08 09:49] #42 closed

[2018-01-08 14:48] weinand commented on #42
Verified that the problem is fixed in the latest Insiders.

[2018-01-23 12:47] copygirl opened #43 "Debug output?"
Is it already possible to have debug output (using `System.Diagnostics.Debug`) appear in the "Debug Console" window automatically? Perhaps using a setting such as `mono-debug.loggingLevel` or so. I suppose one could set this up in the application, but it would be nice to have debug (and possilbly trace) lines appear in a different color.

[2018-01-26 11:14] duncanwalling commented on #18
Adam any progress with this? I am having exactly the same issue using JetBrains Rider and ASP.NET MVC projects in not seeing the razor view changes. Strangely my colleague doesn't seem to have the issue despite what appears to be exactly the same setup (though we must be missing something).

[2018-01-26 12:42] adamhartford commented on #18
Yes, actually. The main trick is to set `MONO_MANAGED_WATCHER="y"`. For example:

[code]

The mono implementation of the file watcher doesn't hit the permission issues we see and doesn't require running anything as root. Razor views are recompiled as you'd expect.

After discovering this, I was able to come up with a VS Code workflow that's good enough that I use it exclusively now for ASP.NET dev

[2018-01-26 13:48] duncanwalling commented on #18
Thanks so much - I had MONO_MANAGED_WATCHER=disabled in my bash_profile (whereas my colleague didn't. I have removed that and now view changes are reflected without a rebuild required.

[2018-01-26 14:06] adamhartford commented on #18
You're welcome. For anyone using VS Code and vscode-mono-debug for Mono + XSP, here's an example project that shows how I do it. I'd love to know if there are better ways, but this has been working pretty well for me for a while now:

https://github.com/adamhartford/VSCodeDemo

[2018-02-09 09:58] prashantvc opened #44 "How to debug this debugger"
I have following config in my `launch.json`

[code]

When start debugging with server, I get the this error `connect ECONNREFUSED 127.0.0.1:4711`
what is the right way to debug this extension

[2018-02-09 10:54] prashantvc commented on #44
nevermind, I had to add the  `"debugServer": 4711` in the test project

[2018-02-09 10:54] #44 closed

[2018-02-11 05:20] galvesribeiro commented on #27
Almost one year later... Do we have any news on that matter?

[2018-02-13 10:03] VysotskiVadim commented on #27
@1iveowl, I believe it happens because you've compiled program.exe at raspery pi, so the compiler put at mdb file path to source code at Raspberry Pi. As a solution I could recommend you compile your program at PC, then transfer it to Raspberry like [here](http://www.ofitselfso.com/RBerrySharp/InstallingNFSOnARaspberryPi2.php), and they run and debug it like you did.

[2018-03-02 21:13] SwooshyCueb opened #45 "Attempting to use the debug console to access classes or namespaces results in an "Unknown Identifier" error"
When stopped at a breakpoint or exception (or wherever one would typically be able to use the debug console), one is able to use the debug console to make calls and probe around in the current state of the suspended program.

Unfortunately, it would seem that anything outside of the class in which execution was suspended is not accessible. I can access local variables that are in scope, as well. B

[2018-05-17 08:12] Yanpas opened #46 "Cannot pause any thread"
If I click pause on one of the threads - only one concrete thread gets paused:
![peek 2018-05-17 11-10](https://user-images.githubusercontent.com/7345761/40164731-fffb47fc-59c2-11e8-9ef3-d491c7f7bca5.gif)

[code]

[2018-05-27 11:44] Yanpas commented on #46
.NET core debugger pauses all threads

[2018-05-29 13:43] exts opened #47 "How do you change exception break settings?"
I tested by editing the package.json file and changing all the break exception code and it breaks on null reference exception perfectly, but how do i change this setting without editing the plugin's package.json and just the launch.js file?

[2018-06-07 19:18] exts commented on #47
have to add them to user settings

[2018-06-07 19:18] #47 closed

[2018-08-23 17:06] gregg-miskelly opened #48 "List<string> shows view of raw object in the VS Code watch window"
_From @spassvogel on August 22, 2018 10:13_

I think the formatting of collections in the debug watch window can use a lot of improvement. Compare how visual studio code currently handles a list of `String`.

![image](https://user-images.githubusercontent.com/985892/44457696-3b505300-a604-11e8-9752-1eebc7778c8e.png)

Whereas in Visual Studio the quick watch feature was much more useful:

![image](

[2018-08-23 17:06] gregg-miskelly commented on #48
@spassvogel Are you debugging Mono, .NET Core or .NET Desktop?

If .NET Core or desktop - what version of .NET Core/Desktop are you targeting? What OS are you on? Can you reproduce this problem in 'Hello World'? If not, do you have a project you can share?

[2018-08-23 17:06] gregg-miskelly commented on #48
_From @spassvogel on August 23, 2018 9:59_

I'm on Windows 10. I'm experiencing this whilst debugging Unity3d, so that's Mono I suppose, right? I'm seeing the same in Visual Studio Code 1.25 and Visual Studio Code - Insiders 1.27

![image](https://user-images.githubusercontent.com/985892/44518859-ae70cc80-a6cb-11e8-905d-d914eeb6568f.png)

![image](https://user-images.githubusercontent.com/985892/4

[2018-08-23 17:06] gregg-miskelly commented on #48
Thanks. If you were seeing this with .NET Core/Desktop - it would be a bug. Since you are seeing this in Mono debugger, this probably is a feature request. But not to this extension - the mono debugger isn't from this extension. I will see if I can find your issue a home.

[2018-08-24 23:00] spassvogel commented on #48
Thanks gregg!

[2018-08-27 21:27] ryanlederman opened #49 "Can't launch debug (sh: 1 [: Linux: unexpected operator)"
This appears to be a regression, and someone filed an issue on the main VS Code repo, and the developer just closed it and asked them to file it here. I don't think they did, so:

**Platform**
4.15.0-33-generic #36~16.04.1-Ubuntu SMP (x64)

**Build info**
Version: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:34:20.517Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8

[2018-09-03 05:30] bbenetskyy opened #50 "Is this project still alive?"
Hi @weinand,

This is a great project as far as I could know it. But did it still `active`? Or this already could be marked as `Archived`?

During last year I don't find any new commits or releases and project still on pre-release version 0.*

If you don't support it anymore, is any other project which is alive and making the same things?

[2018-11-05 04:59] yuhr opened #52 "Debugging with MONO_ENV_OPTIONS"
Hi, I want to debug an application which must be launched without `mono` CLI. Currently I'm doing it by `attach` i.e. launching the app with `MONO_ENV_OPTIONS` environment variable set to `--debug --debugger-agent=transport=dt_socket,server=y,address=127.0.0.1:55555` and attaching the debugger to it. This configuration works well but frustrates me when I stop debugging as the app needs manual quit

[2018-11-15 03:54] beginor opened #53 "Does this plugin support windows subsystem for linux (wsl) ?"
Does this plugin support windows subsystem for linux (wsl) ?

If it supports wsl, then how to config?

[2018-12-04 17:05] stepheneb opened #54 "build failed, macos 10.13.6, src/MonoDebugSession.cs(11,7): error CS0246: The type or namespace name 'Mono' could not be found"
[code]

[code]

[2018-12-06 20:06] matthiasak commented on #18
This has worked for me:

launch.json

[code]

tasks.json

[code]

[2019-05-30 04:06] Thaina opened #57 "Cannot set nullable to null in debugger"
Suspect that it was from here

https://github.com/microsoft/vscode-mono-debug/blob/21a0b1433e8ca281fd1f9fc15ba395ef33ed2686/src/MonoDebugSession.cs#L730-L763

Is this a problem of debugger lib repo?

[2019-05-30 04:13] #57 closed

[2019-07-11 12:03] kryssb opened #58 "Breakpoints not hitting"
Breakpoints do not work properly in secondary threads (those created explicitly or from threadpools). In Visual Studio Code, C# projects, execution does indeed pause on breakpoints but the IDE is not notified that it's stopped on a breakpoint. So you can neither move past the breakpoint nor check watches.

[2019-09-24 12:36] borgdylan opened #59 "Regression: program not running when pressing F5 with a valid launch.json"
Is this extension still looked after? There seems to be a number of breaking changes in the DAP and there are still people depending on this extenion to run programs under mono.

[2019-12-01 10:03] rokups opened #60 "Breakpoints in files from symlinked dirs"
When directory `/foo/src/build` is a symlink to `/bar/build`, we open a file `/foo/src/build/file.cs` and place a breakpoint there - breakpoints will hit, however IDE will reopen file from `/bar/build/file.cs` path. VSCode thinks it is a different file and thus placed breakpoints are not visible. Debugging works otherwise.

Could this plugin use `/foo/src/build/file.cs` provided it is the same fil

[2020-01-23 18:05] KG2501 opened #61 "mono.exe not found in debug session"
I have Visual Studio Code 1.41.1 installed with latest Mono-debug.
When I start debugging I get the following error:
mono --debug --debugger-agent=transport=dt_socket,server=y,address=127.0.0.1:50046 cscs.exe -d -inmem:0 -co:/debug:pdbonly  -ac:2 c:\Users\Administrator\AppData\Roaming\Code\User\cs-script.user\new_script.cs
'"C:\Users\Administrator\AppData\Roaming\Code\User\cs-script.user\\mono.exe

[2020-03-13 22:24] brian-themaven opened #62 "How can I get mono debugging working macOS Catalina?"
I know macOS Catalina stopped supporting 32bit applications so will this extension still work?  When I try to debug mono nunit tests with this extension, the breakpoints are not working.

[2020-04-14 17:25] jbrown16 opened #63 "Show hex representation of variable while debugging"
I work C/C++ code frequently and use VSCode as my primary editor and debugger. Viewing data in hexadecimal representation is necessary when working in low-level development. I'm hoping that it might be possible to configure the debugger, when viewing variables in the left panel and while hovering over the variables in the code editor space, that the hex representation of the variable's value can a

[2020-05-13 00:09] hol430 commented on #58
Hi @kryssb - I was having the same issue and updating vscode fixed it for me.

[2020-10-07 22:25] akoeplinger commented on #52
This was recently implemented as part of #66.

[2020-10-07 22:25] #52 closed

[2020-10-07 22:27] #30 closed

[2020-10-07 22:29] akoeplinger commented on #36
debugger-libs was replaced with sources from a git submodule with https://github.com/microsoft/vscode-mono-debug/pull/64.

[2020-10-07 22:29] #36 closed

[2020-10-08 15:42] akoeplinger commented on #62
I'm using the extension on macOS Catalina without issue, but you need to make sure the mono that gets invoked is the 64bit-one and not the 32bit. How are you running/debugging the nunit tests?

[2020-10-08 23:41] hol430 opened #68 "Unable to debug with v0.16.0"
Hi all, just a heads up that after upgrading to v0.16.0 of this extension, I'm unable to debug my C#/mono application. Downgrading to v0.15.8 fixes the problem. Here is my launch.json:

<details>

[code]

</details>

I'm not sure if there's a log somewhere which I can upload - let me know if there's any extra info I can give. From my perspective, I normally see something in the debug console like

[2020-10-09 17:53] akoeplinger commented on #68
Hm this sounds like it might have been caused by https://github.com/microsoft/vscode-mono-debug/commit/0f7bfa89e66e012dc287cae4656609ac2599b7fa.

I can see how that might happen, if I remember correctly `CompileAssemblyFromFile` just starts the C# compiler via `Process.Start` internally. If that gets the `MONO_ENV_OPTIONS` from the parent process then it'd wait for a debugger connection.

I'll pro

[2020-10-09 18:14] #68 closed

[2020-10-09 18:15] akoeplinger commented on #68
Should be fixed now in v0.16.2, thanks for the report!

[2020-10-09 19:22] brian-themaven commented on #62
Thanks for your reply!  Since we only build 32bit binaries, I can only remote debug into our docker container.

[2020-10-10 11:03] akoeplinger commented on #62
Ok yeah I think in that case you're out of luck given that Catalina doesn't support 32bit processes.

[2020-10-10 11:03] #62 closed

[2020-10-12 04:31] hol430 commented on #68
Wonderful, thanks for the fast turnaround on that one. I did notice that on 0.16.2, the break on exception feature seems to be no longer working (it works for me on 0.15.8). Entirely possible that I've done something wrong, just thought I'd check if it's related to the above issue.

In case it helps, here is my configuration. I haven't touched it recently, so it would have been the same when testi

[2020-11-16 21:31] puremourning opened #70 "Unable to set breakpoints "Cannot perform runtime binding on a null reference""
Setting breakpoints is failing using [this](https://github.com/puremourning/vimspector/pull/296/files#diff-8c2f2e47e345be44d349077a38dd5dcd0b1a4ff2081b7e1b95e96b4202d3744f) test program and `vscode-mono-debug` v0.16.2.

The failure response is:

[code]

To break down the flow:

* We start the debug adapter: `mono Users/ben/.vim/vimspector-conf/gadgets/macos/vscode-mono-debug/bin/Release/mono-debug

[2020-11-16 21:34] puremourning commented on #70
`Program.cs`:

[code]

compiled with `csc -debug Program.cs`

[2020-11-16 21:42] puremourning commented on #70
with `--log-file` and `--trace`, this is the log:

[code]

[2020-12-31 22:50] C-SELLERS opened #72 "Docker Container Fails to Debug Past V15.8"
Hey, I use this extension to debug a docker container running on my local machine and I noticed with the newer version >16.0 that the debugger fails to actually debug when connecting to the container.

Its weird because I can see the threads running in my program so it does "attach" to the instance of mono, but no breakpoints are triggered and the program just runs. Also, if I set my mono debug pa

[2021-01-08 21:07] GoaLitiuM commented on #68
I'm having the same issue with 0.16.2, VSCode does not detect hit breakpoints, but debugged application pauses upon hitting that breakpoint and does not respond unless I stop debugging. 0.16.0 Shows an error `error while processing request 'stackTrace' (exception: Index was outside the bounds of the array.)` when beakpoint is hit. 0.15.8 is the latest vesion that seems to be working just fine.

[2021-01-26 20:31] SquareRoundCurly opened #73 "How to debug embedded mono?"
I have a barebones C++ project, in which I have embedded Mono according to the [documentation](https://www.mono-project.com/docs/advanced/embedding/).

I have then created a simple .cs file with a class with a couple of test functions that print some strings. I compile this file with the this command:
[code]
As expected, I get a C# SomeClass.dll and a debug symbol file SomeClass.dll.mbd.

I can lo

[2021-01-27 18:47] #73 closed

[2021-01-28 13:39] johnson3d opened #74 "debugger disconnect on embed mono"
I embed mone by options:

const char* options[] = {
	"--soft-breakpoints",
	"--debugger-agent=transport=dt_socket,server=y,address=127.0.0.1:55555,timeout=9999999"
	};
	mono_jit_parse_options(sizeof(options) / sizeof(char*), (char**)options);

	mono_debug_init(MONO_DEBUG_FORMAT_MONO);

mono debug can accept this socket ,but debug thread will get a disconnect event soon, then thread will exit:

[2021-04-24 01:30] T3kla commented on #58
Same here but no luck with the update.

[2021-05-04 17:10] lszomoru opened #76 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:53] lszomoru opened #77 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-07-22 01:49] abhiss commented on #73
Was the issue closed because you found a solution?

[2021-10-14 08:33] jpwits opened #82 "Example Needed"
Hi, not really an issue, but tried to get this going, but really difficult to know of all the configs, do u maybe have an example like the one at https://code.visualstudio.com/api/extension-guides/debugger-extension

[2021-10-19 09:00] fkromer opened #83 "Debugging of .NET Framework app running on Rasbberry Pi (ARM)?"
Does this extension support to remotely debug .NET Framework applications running on Raspberry Pi and ARM architectures in general?

[2021-10-20 09:16] #24 closed

[2021-12-19 11:22] copygirl opened #84 "Setting environment variable (LD_LIBRARY_PATH) for mono, rather than the program run"
I'm helping out with an indie game which is built on .NET 4.6.1 and is trying its best to support Linux. Recently I found out that native libraries that were available for different architectures, and therefore stored in two different folders `Lib32` and `Lib64`, were not able to be loaded from these paths.

In #monovm on the DotNetEvolution Discord I was recommended to use `LD_LIBRARY_PATH` to sp

[2022-04-17 23:25] devdotnetorg commented on #83
@fkromer Use the [.NET FastIoT](https://marketplace.visualstudio.com/items?itemName=devdotnetorg.vscode-extension-dotnet-fastiot) extension for [VSCode](https://code.visualstudio.com/).

[2022-05-16 22:00] microsoft-github-policy-service[bot] opened #87 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-17 08:36] #87 closed

[2022-11-05 15:59] gris-martin opened #90 "Missing file name and line number when using embedded mono"
Hi! I'm using embedded mono to call C# code from C++ and vice versa. Everything has been working fine so far, but I can't get the C# debugging to work. I'm able to attach the debugger to the mono application, and the debugger is detached when the application is closed.

I'm also able to get a break in the debugger when I trigger an exception in the C# code. The stack trace shows the correct class

[2022-11-13 14:07] gris-martin commented on #90
@akoeplinger Thank you for your answer! I added an entrypoint to my library and ran it with

[code]
And the debugger then works. I can also get it to work with my original setup if I build the symbols into the binary using the `-debug:embedded` option of csc, but I would ideally like to have the pdbs as a separate file.

[2022-11-14 13:08] akoeplinger commented on #90
Hmm that's quite weird having embedded PDBs working, so that means the debugger itself is fine it's just not finding the separate PDB for some reason.

You can try debugging `mono_ppdb_load_file()` in debug-mono-ppdb.c and see what's going on there.

I'm closing this for now since it's not a vscode mono debugger issue :)